*.so
*.pcm
*.rootmap
*.root
/build/
/lib/
/bin/
/test/
*.DS_Store
__pycache__/
.vscode
scripts/autoProcessWithArtsHistsListQuick.sh
src/dataProducts/WaveformFitter.cc
**.root_*
database/setup_secrets.sh
database/test_data_location
*.pdf
*.png
**logfile
*_C.d